.kids-textbox{
    font-family: "limerick-regular", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    h1{
        color: #22222b;
        font-size: 36px;
    }
    p{
        color: #7a7a7a;
        font-size: 16px;
    }
}
.kids-card{
    font-family: "limerick-regular", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

&:hover .card-ul{
    display: block !important;
}

    cursor: pointer;

    .kids-img{
        position: relative;
        .card-ul{
            transition:all .5s ease;
    
                    display: none;
                   bottom: 15px;
                   right: 10px;
                    position: absolute;
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            i{
                                padding: 5px;
                                background-color: white;
                                &:hover{
                                    color: white;
                                    background-color: black;
                                }
                            }
                        }
                   
                    }
                }
        img{
            width: 100%;
        }
        
    }
}